@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Maven+Pro&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
	width: 100%;
	margin: auto;
	font-family: Roboto;
}

h1 {
	text-align: center;
	font-family: Heebo;
	font-size: 50px;
	font-weight: 500;
	color: ;
	margin: 30px 0 0;
}

h2 {
	font-family: Maven Pro;
	letter-spacing: 1.5px;
}

header h2 {
	text-align: center;
	font-style: italic;
	font-size: 20px;
	font-weight: 100;
	color: ;
	margin: 0 0 20px;
}

hr {
	border-width: 2px;
	width: 70%;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
	color: #a44e23;
}

li {
	list-style: none;
}

nav ul {
	display: block;
	margin: auto;
	text-align: center;
	padding: 0;
	margin-bottom: 20px;
}

nav ul li {
	display: inline;
	margin: 0 3%;
}

nav ul li a {
	font-family: Heebo;
	font-size: 24px;
	padding: 10px 20px;
}

header img {
	height: 45vw;
}

main {
	padding: 0px 50px;
}

.about-us h2, .cuisines h2 {
	padding: 20px 20px 20px 0px;
}

.about-us img {
	display: none;
}

.cuisines {
	display: flex;
	flex-flow: column wrap;
}

.cuisines h2 {
	font-size: 30px;
	margin-top: 30px;
}

.cuisines img {
	width: 200px;
	border-radius: 100px;
	margin-bottom: 10px;
}

.cuisines a {
	text-align: center;
	position: relative;
	width: auto;
}

.img-header {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-shadow: 3px 3px 9px #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	background-color: lightgray;
	height: 120px;
	font-size: 14px;
	line-height: 1.5;
	display: flex;
}

.social {
	display: flex;
	flex-flow: column wrap;
	text-align: right;
	margin-right: 5%;
	width: auto;
}

.social img {
	height: 50px;
	width: auto;
}

@media only screen and (min-width: 950px) {   

	hr {
		display: none;
	}
	
	nav {
		margin-top: 40px;
	}
	
	nav ul li a {
		margin: 0 5%;
	}
	
	header img {
		width: 90%;
		height: auto;
		padding: 0;
		margin: 0 4%;
	}
	
	.text {
		width: 53%;
		float: left;
		line-height: 1.5;
	}
	
	.about-us {
		width: 90%;
		height: 300px;
		margin-bottom: 70px;
	}
	
	.about-us img {
		display: inline;
		width: 35%;
		float: right;
		max-height: 300px;
		margin-right: 3%;
	}
	
	.cuisines h2 {
		display: none;
	}
	
	.cuisines {
		flex-flow: row wrap;
		margin-bottom: 50px;
	}
	
	.cuisines img {
		width: 250px;
		border-radius: 125px;	
	}
	
	footer {
		height: 150px;
	}
}